<app-navbar></app-navbar>
<div class="container">
    <main role="main" class="pb-3">
        <div class="createPostInput">
            <a [routerLink]="['/CreatePost']">
                <input class="inputPost" name="CreatePost" placeholder="Create Post" type="text">
            </a>
        </div>
        <div class="filterPost">
            <ng-container *ngIf="this.postFilter == 'date'">
                <!-- if filtered by date -->
                <div class="sortUpvotes">
                    <form (ngSubmit)="filterByVotes()">
                        <button type="submit" class="invisBtn btnIcon"><i class="fas fa-sort-amount-up"></i>
                            <p class="filterTxt">Top</p>
                        </button>
                    </form>
                </div>
                <div class="sortDates sortFilterClicked">
                    <form (ngSubmit)="filterByDates()">
                        <button class="invisBtn btnIcon"><i class="fas fa-history"></i>
                            <p class="filterTxt">New</p>
                        </button>
                    </form>
                </div>
            </ng-container>
            <ng-container *ngIf="this.postFilter == 'vote'">
                <!-- if filtered by votes -->
                <div class="sortUpvotes sortFilterClicked">
                    <form (ngSubmit)="filterByVotes()">
                        <button type="submit" class="invisBtn btnIcon"><i class="fas fa-sort-amount-up"></i>
                            <p class="filterTxt">Top</p>
                        </button>
                    </form>
                </div>
                <div class="sortDates">
                    <form (ngSubmit)="filterByDates()">
                        <button class="invisBtn btnIcon"><i class="fas fa-history"></i>
                            <p class="filterTxt">New</p>
                        </button>
                    </form>
                </div>
            </ng-container>
        </div>
        <ng-container *ngFor="let post of this.postService.posts">
            <div class="row cardDeck">
                <div class="cardVote">
                    <div class="">
                        <ng-container *ngIf="upvoteContains(post.id); else elseUpvoteContains">
                            <form (ngSubmit)="upvotePost(post.id)">
                                <button class="invisBtn btnIconClicked upvoteTxt upIcon"><i
                                        class="fas fa-arrow-alt-circle-up"></i></button>
                            </form>
                            <div class="numUpvote">
                                <h5 class="card-text upvoteTxt">{{post.number_upvotes}}</h5>
                            </div>
                        </ng-container>
                        <ng-template #elseUpvoteContains>
                            <form (ngSubmit)="upvotePost(post.id)">
                                <button class="invisBtn btnIcon upIcon"><i
                                        class="far fa-arrow-alt-circle-up"></i></button>
                            </form>
                        </ng-template>

                        <ng-container *ngIf="downvoteContains(post.id); else elseDownvoteContains">
                            <div class="numUpvote">
                                <h5 class="card-text downvoteTxt">{{post.number_upvotes}}</h5>
                            </div>
                            <form (ngSubmit)="downvotePost(post.id)">
                                <button class="invisBtn btnIconClicked downvoteTxt downIcon"><i
                                        class="fas fa-arrow-alt-circle-down"></i></button>
                            </form>
                        </ng-container>
                        <ng-template #elseDownvoteContains>
                            <ng-container *ngIf="upvoteContains(post.id); else elseOther">
                                <form (ngSubmit)="downvotePost(post.id)">
                                    <button class="invisBtn btnIcon downIcon"><i
                                            class="far fa-arrow-alt-circle-down"></i></button>
                                </form>
                            </ng-container>
                        </ng-template>
                        <ng-template #elseOther>
                            <div class="numUpvote">
                                <h5 class="card-text">{{post.number_upvotes}}</h5>
                            </div>
                            <form (ngSubmit)="downvotePost(post.id)">
                                <button class="invisBtn btnIcon downIcon"><i
                                        class="far fa-arrow-alt-circle-down"></i></button>
                            </form>
                        </ng-template>
                    </div>
                </div>
                <div class="card cardPost">
                    <div class="card-body cardBodyIndex">
                        <a [routerLink]="['/Post', post.id]" class="stretched-link"></a>
                        <h3 class="card-title">{{post.title}}</h3>
                        <p class="card-text fadeTxt">{{post.description.substring(0, post.description.length > 1000
                            ? 1000:
                            post.description.length)}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="numCommentFooter">
                            <a [routerLink]="['/Post', post.id]" class="card-text stretched-link">
                                <i class="bi bi-chat-square"></i> &nbsp; {{post.comments.length}} comments
                            </a>
                        </div>
                        <div class="deleteFooter card-text">
                            <ng-container *ngIf="post.user.id == this.userService.getCurrentUser()?.id">
                                <form (ngSubmit)="deletePost(post.id)" class="postDeleteForm">
                                    <button type="submit" class="btn btn-primary btn-sm btnDeletePost card-text stretched-link">
                                        <i class="fas fa-times deleteIcon"></i>
                                    </button>
                                </form>
                            </ng-container>
                        </div>
                        <div class="dateFooter">
                            <small class="card-text">
                                Posted by {{post.user.username}} on {{post.publicationDate | date: 'short'}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </main>
</div>